<h1>Edit Contact</h1>
<form (ngSubmit)="save()">
  <label>
    Name:
    <input [(ngModel)]="contact.name" name="name">
  </label>
  <label>
    Email:
    <input [(ngModel)]="contact.email" name="email">
  </label>
  <label>
    Number:
    <input [(ngModel)]="contact.number" name="number">
  </label>
  <label>
    Country:
    <input [(ngModel)]="contact.country" name="country">
  </label>
  <label>
    Favorite:
    <input type="checkbox" [(ngModel)]="contact.favorite" name="favorite">
  </label>
  <button type="submit">Save</button>
</form>
